@use "reset";

.cls-1 {
  stroke: url(#Orange_Yellow-2);
}

.cls-1, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7, .cls-8, .cls-9, .cls-10, .cls-11, .cls-12 {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 7px;
}

.cls-2 {
  stroke: url(#Orange_Yellow-3);
}

.cls-3 {
  stroke: url(#Orange_Yellow-5);
}

.cls-4 {
  stroke: url(#Orange_Yellow-6);
}

.cls-5 {
  stroke: url(#Orange_Yellow-4);
}

.cls-6 {
  stroke: url(#Orange_Yellow-9);
}

.cls-7 {
  stroke: url(#Orange_Yellow-8);
}

.cls-8 {
  stroke: url(#Orange_Yellow-7);
}

.cls-9 {
  stroke: url(#Orange_Yellow-12);
}

.cls-10 {
  stroke: url(#Orange_Yellow-11);
}

.cls-11 {
  stroke: url(#Orange_Yellow-10);
}

.cls-12 {
  stroke: url(#Orange_Yellow);
}
